<%- include('header') -%>

<form action="/erc20" method="post" style="margin-top: 5%;">
    <p style="display: inline; font-size: 1.4rem;">
        Etherium Address
    </p>
    <input type="text" placeholder="enter sender address" name="ethAddress1">
    <input type="text" placeholder="Enter the reciever address" name="ethAddress2">
    <button type="submit"> Submit balance</button>
</form>

<%- include('footer') -%>