<%- include('header') -%>


<form action="/" method="post">
<h3>
    Enter Etherium Address
</h3>
<input type="text" name="name" placeholder="Enter your Etherium Address">
<button type="submit">Check Your Balance</button>
<a href="/erc20" style="display: inline-block; margin-top: 5%; border: solid black; background-color: black; color: white;">
    Send balance to others</a>
    <a href="/contractinfo" style="display: inline-block; margin-top: 5%; border: solid black; background-color: black; color: white;">
        COntract info</a>
        
</form>
<%-include('footer') -%>